body {
    h1 {
      text-align: center;
    }
    hr {
      color: white;
      text-align: center;
    }
    background: #0D493D;
}
  .LabelFirstLetter {
    color: #00FF53;
    font-size: 100%;
  }
  .Label {
    font-family: system-ui;
    color: white;
    text-align: center;
    text-transform: capitalize;
    font-size: 120%;
  }
  .CategoryLabel {
    color: white;
    text-align : left;
    font-family: system-ui;
    text-transform: capitalize;
    font-size: 120%;
    text-decoration: underline;
  }
  .CreateIdeaLabel {
    font-family: system-ui;
    color: white;
    text-align: center;
    text-transform: capitalize;
    font-size: 160%;
    letter-spacing: 2px;
    font-weight: 600;
  }
  .GenericButton {
      border: solid;
      border-radius: 10px;
      border-color: #DCFFC9;
      color: white;
      transition: .1s linear;
      background: transparent;
  }
  .GenericButton:hover {
      box-shadow: 0 0 0 2px white, 0 0 0 4px #DCFFC9;
  }
  .CentralDiv {
    text-align: center;
  }
  .TagTextStyle {
    color: white;
    text-align : left;
    font-family: system-ui;
    text-transform: capitalize;
    font-size: 120%;
  }
  .IdeaLineDiv{
    float: left;
    margin-bottom: 15px;
    display: table;
    table-layout: fixed;
    width: 100%;
  }
  .IdeaBlockDiv {
    display: table-cell;
    background: white;
    width: 71%;
    height: 100%;
  }
  .BlankBlockDiv {
    display: table-cell;
    background: transparent;
    width: 3.6%;
  }
  .UserBlockDiv {
    display: table-cell;
    background: white;
    width: 25.4%;
    height: 100%;
  }
  .GenericTextStyle {
    color: #0F164D;
    text-align: left;
    font-family: system-ui;
    font-size: 120%;
    font-weight: 400;
    padding: 15px;
    box-sizing: border-box;
  }
.ErrorText {
  color: white;
  text-align: center;
  font-family: system-ui;
  font-size: 200%;
  font-weight: 600;
  text-transform: capitalize;
}
.GenericPageDiv {
  float: left;
  margin-bottom: 7px;
  padding-bottom:15px;
  width: 100%;
  background: #DCFFC9;
}
.InlineButton {
  border: solid;
  border-radius: 10px;
  border-color: #E28dFF;
  color: white;
  transition: .1s linear;
  background: #FFF844;
}
.InlineButton:hover {
  border-color: #97FF56;
  box-shadow: 0 0 0 1px #0D493D, 0 0 0 2px #97FF56;
}