<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link href="../static/styles.css" rel="stylesheet" th:href="@{/styles.css}"/>
</head>
<body>
<h1>
  <span class = "Label">
    <span class= "LabelFirstLetter">c</span>reate
    <span class= "LabelFirstLetter">y</span>our
    <span class= "LabelFirstLetter">o</span>wn
    <span class= "LabelFirstLetter">i</span>dea
  </span>
</h1>
<hr>
<div class="CentralDiv">
<span class="ErrorText">
  <p th:text= "'Error ' + ${status}"/>
</span>
</div>
</body>
</html>