<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Idea Browser</title>
    <link href="../static/styles.css" rel="stylesheet" th:href="@{/styles.css}"/>
</head>
<body>
<h1>
  <span class = "Label">
    <span class= "LabelFirstLetter">c</span>reate
    <span class= "LabelFirstLetter">y</span>our
    <span class= "LabelFirstLetter">o</span>wn
    <span class= "LabelFirstLetter">i</span>dea
  </span>
</h1>
<hr>
<p>
  <span class = "CategoryLabel">
    Категории:
  </span>
    <button type = "TagsButton" class = "GenericButton">
    <span class="TagTextStyle">
          tag1
    </span>
    </button>
</p>
<hr>
<div class =  "CentralDiv">
    <button type="NewIdeaButton" class="GenericButton"> <span class = "CreateIdeaLabel">Создать новую идею</span>
    </button>
</div>
<hr>
<div class = "IdeaLineDiv">
    <div class = "IdeaBlockDiv">
    <span class = "GenericTextStyle">
      Название идеи
    </span>
    </div>
    <div class = "BlankBlockDiv">

    </div>
    <div class = "UserBlockDiv">
    <span class = "GenericTextStyle">
      Данные пользователя
    </span>
    </div>
</div>
</body>
</html>