<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<h1>
  <span class = "Label">
    <span class= "LabelFirstLetter">c</span>reate
    <span class= "LabelFirstLetter">y</span>our
    <span class= "LabelFirstLetter">o</span>wn
    <span class= "LabelFirstLetter">i</span>dea
  </span>
</h1>
<hr>
<div class="UserPageDiv">
 <span class="GenericTextStyle">
   User info
  </span>
</div>
</body>
</html>